#canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}

#canvas-move {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

#hint-container {
	position: absolute;
	display: none;
	background-repeat: no-repeat;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-position: center center;
	opacity: 0.5;
}

